
h1{
    margin-top: 230px;
    text-align: center;
    font-size: 90px;
    margin-bottom: 0px;

}
h1 :nth-child(1){
    color: #4285F4;
    font-weight: bold;
    margin-right: -20px;

}
h1 :nth-child(2){
    color: #DB4437;
    font-weight: bold;
    margin-right: -20px;

}
h1 :nth-child(3){
    color: #F4B400;
    font-weight: bold;
    margin-right: -20px;

}
h1 :nth-child(4){
    color: #0F9D58;
    font-weight: bold;
    margin-right: -20px;

}
h1 :nth-child(5){
    color: #4285F4;
    font-weight: bold;
    margin-right: -20px;

}
h1 :nth-child(6){
    color: #DB4437;
    font-weight: bold;

}
.search_bar{
    margin-top: 21px;
    text-align: center;
    width: 616px;
    height: 46px;  
}
.search_bar{
    width: 616px;
    height: 46px;
    border: 1px solid #DADCE0;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.form_{
    text-align: center;
}
.btn_{
    margin-top: 20px;
    text-align: center;
}
.btn_ button{
    width: 111px;
    height: 36px;
    border-radius: 40px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    background: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
}